.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  height: 12vmin;
  top: 30px;
  /* pointer-events: none; */
}


.App-header {
  background-color: #ffffff;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.Tabs {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;

}
